



ul.nav>li>a.header-button:hover {
	background-color: red;
	border: 2px solid black;
}

#main {
	width: 100%;
}

.event {
	border: 2px solid black;
	margin-top: 10px;
	margin-bottom: 10px; 
}

.node-point {

	background-color: red;
}

#page {
	height: 1000px;
}

.hell {

	height: 1000px;
/*	background-color: blue;
*/

}

.node-character {

/*	background-color: green; */
	height: 150px;
	width: 150px;
/*	border-radius: 25px;
*/

}

.character-zone {

	height: 300px;
}

.popup {
	display: none;
	height: 400px;
	width: 300px;
	background-color: red;
	z-index:10;
	position: relative;
	padding: 10px;
	border: 5px solid black;
	border-radius: 13px;
}

.visible {
	display: visible;
	z-index:10;
}